{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Lista de Farmacéuticos</h2>
<a class="card_custom" href="{% url 'app_coder:FarmaceuticosDjangoForms' %}">Crear nuevo Farmacéutico</a>
<hr>
</hr>
<ul>
    {% for farmaceutico in farmaceuticos %}
        <li>
            {{farmaceutico}}
            (
        <a href="{% url 'app_coder:UpdateFarmaceutico' farmaceutico.id %}">
            <i class="fa fa-pencil" style="color: rgb(5, 221, 70);"></i>
        </a>
        |
        <a href="{% url 'app_coder:DeleteFarmaceutico' farmaceutico.id %}">
            <i class="fa fa-trash" style="color: rgb(228, 7, 7);"></i>
        </a>
        )
        </li>
    {% endfor %}
</ul>

{% endblock %}