<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farmacia - Formulario HTML </title>
</head>
<body>
    <form action="/app_coder/formHTML" method="POST">{% csrf_token %}

        <p>Farmacia: <input type="text" name="name"></p>
        <p>Direccion: <input type="text" address="address"></p>
        <p>Telefono: <input type="number" phonenumber="phonenumber"></p>

        <input type="submit" value="Crear farmacia">

    </form>
</body>
</html>