{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Buscador de Farmacias</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="all_search" id="farmacia_nombre" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if farmacias %}
    <ul>
        {% for farmacia in farmacias %}
            <li>
                Farmacia: {{farmacia.name}}
                -- Direccion: {{farmacia.address}}
                -- Telefono: {{farmacia.phonenumber}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}